.after {
  display: none;
}

/* style for modal */
.modal-body {
  padding: 40px;
}
.modal-body-text {
  font-size: 22px;
  text-align: center;
}

.modal-footer {
  text-align: left;
  position: relative;
}

.modal-footer-heading {
  font-size: 16px;
  font-weight: 500;
}

.fa {
  padding: 11px;
  font-size: 25px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #125688;
  color: white;
}

.btn-close {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* *********** */

.number-input-container{
  position: relative;
}

.dial-code {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}

.form-input-number {
  padding: 0 0 0 30px;
}


.wizard-container {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;

}

.image-container {

}


.mob {
display: none;
}

.wizard-btn {
  padding: .3em 1.4em;
  text-align: right;
  border: none;
  background: #007BFF;
  color: #fff;
  border-radius: 6px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px auto 0 auto;
}


/* 
.image-container {
  max-width: 700px;
  display: flex;
  justify-content: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #87D6FB;
}

.site-header {
  /* background-color: #F4D29E; */
}

.header-image-container {
  display: flex;
  justify-content: center;
  max-width: 740px;
  margin: 0 auto;
}

.site-header img {
  width: 100%;
}

.hero-section {
  /* max-width: 950px; */
  margin: 30px auto 0px auto;

  padding: 40px 20px 40px 20px;
  background-color: #007BFF;
}

.hero-heading {
  font-size: 63px;
  font-weight: 800;
  text-align: center;
  /* color: #296a8e; */
  color: #fff;
  /* -webkit-text-stroke: 1px #666; */
}

.form-section {
  max-width: 900px;
  margin: 0 auto;
  /* background: #fff; */
  padding: 40px 30px 20px 40px;
}

.form-heading {
  font-size: 16px;
  font-weight: 400;
  text-align: center;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.form label {
  font-size: 18px;
  margin: 12px 0 12px 0;
  display: block;
}

.form p {
  max-width: 700px;
  width: 100%;
}

.form p .form-input {
  width: 100%;
  height: 40px;
}

.form-input {
  font-size: 16px;
}


.form-submit-btn {
  /* padding: 1.8em 4.4em; */
  padding: 10px 10px;
  margin: 10px 0 0 0;
  text-align: right;
  border: none;

  /* color: #fff; */
  border-radius: 10px;
  font-size: 22px;
  width: 100%;
  text-align: center;
  cursor: pointer;


  /* font-size: 1rem;
  padding: .5rem 3rem; */
  /* color: $color-black; */
  /* box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5); */
  /* border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #4f484f); */
  /* background-origin: border-box; */
  /* background-clip: content-box, border-box; */
  /* box-shadow: 2px 1000px 1px #fff inset; */
  background: #02007D;
  color: #fff;
  font-weight: 700;
  margin-top: 30px;
}

.member-name-container {
  background: #fff;
  margin: 20px 0 0 0;
  padding: 0px 0px 0px 20px;

}

.required-star {
  color: red;
}

.site-footer {
  margin: 40px auto 0 auto;
  padding: 40px 0px 40px 40px;
  background: #fff;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 6px;
}

.org-name {
  font-size: 20px;
  color: #0054BC;
}

address {
  font-size: 17px;
}

.contact-email a,
.website a {
  color: #0054BC;

}

@media screen and (max-width: 998.9px) {
  .hero-heading {
    font-size: 32px;
  }
}

@media screen and (max-width: 767.9px) {
  .hero-heading {
    font-size: 26px;
  }

  @media screen and (max-width: 540.9px) {
    .hero-heading {
      font-size: 5vw;
    }

    .hero-section {
      margin: 10px auto 0px auto;
    
      padding: 20px 20px 20px 20px;
    }

    .form-section {
      padding: 10px 30px 10px 40px;
  }

  
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
}

.form label {
  font-size: 14px;
  margin: 8px 0 8px 0;
  display: block;
}

.form p {
  /* max-width: 700px; */
  width: 100%;
}

.form p .form-input {
  width: 100%;
  height: 34px;
}

  .mob {
    display: block;
    max-width: 500px;
  }
  .mob img {
    width: 100%;
  }
  .desktop {
    display: none;
  }
}